*{

    margin: 0;padding: 0;
box-sizing: border-box;
background-color:rgb(50, 50, 50);
}
.container{
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.container h1{
   
    font-size: 5rem;
    font-family: "Lobster", serif;
    font-weight: 900;
    font-style: normal;
    text-transform: capitalize;
    color: rgb(103, 242, 198);
    margin-bottom: 50px;
    
}
p{
    
  font-family: "Caveat", serif;
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  color: rgb(103, 242, 198);
  font-weight: 400;
  margin-bottom: 25px;
  

}
img{
    width: 150px;
    height: fit-content;
}

.dice_container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
footer{
    font-family: "Lobster", serif;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    right: 0;

}
